<ion-header class="mybg">
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Order Details</ion-title>

  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding" color="light">
  <ion-item lines="none" class="card ion-margin-bottom ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Reference</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin"><strong>{{order?.reference}}</strong></h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Status</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{order.StatusDetails?.name}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Items</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{order?.product_count}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-item>
  <ion-item lines="none" class="card ion-margin-bottom ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Order Date</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{order?.booking_date}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Order Time</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{order?.booking_time}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-item>
  <ion-item lines="none" class="card ion-margin-bottom ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Cart</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{order?.order_amount  | currency:'₦' }}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Shipping</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{order?.delivery_fees | currency:'₦' }}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Discount</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">
              <ion-text color="danger">{{order?.discount_amount  | currency:'₦' }}</ion-text>
            </h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Total</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin"><strong>{{order?.total_paid  | currency:'₦' }}</strong></h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-item>
  <ion-item lines="none" class="card ion-margin-bottom ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Seller</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{order.SellerDetails?.business_name}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Packaging</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{order.SellerDetails?.shipEndDate}}</h6>
            <h6 class="title ion-no-margin">{{order.SellerDetails?.shipStartDate}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Phone</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{order.SellerDetails?.business_phone}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Email</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{order.SellerDetails?.business_email}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-item>
  <ion-item lines="none" class="card ion-margin-bottom ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Customer</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{order.CustomerDetails?.CustName}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Phone</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{order.CustomerDetails?.CustPhone}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Email</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{order.CustomerDetails?.CustEmail}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-item>
  <ion-item lines="none" class="card ion-margin-bottom ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Method</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{order.PaymentDetails?.payment_method}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Reference</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{order.PaymentDetails?.reference_code}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-item>
  <ion-item lines="none" class="card ion-margin-bottom ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-text>
          <h6 class="title ion-no-margin">Address</h6>
        </ion-text>
      </ion-row>
      <ion-row>
        <ion-text>
          <h6 class="title gray ion-no-margin">{{order?.ShippingTypeName}}</h6>
        </ion-text>
      </ion-row>
      <ion-row>
        <ion-text>
          <h6 class="title gray ion-no-margin">{{order.ShippingAddressDetails?.addresstypename}}</h6>
        </ion-text>
      </ion-row>
      <ion-row>
        <ion-text>
          <h6 class="title gray ion-no-margin">{{order.ShippingAddressDetails?.phone}},
          </h6>
        </ion-text>
      </ion-row>
      <ion-row>
        <ion-text>
          <h6 class="title gray ion-no-margin">{{order.ShippingAddressDetails?.address_line}},
            {{order.ShippingAddressDetails?.close_to}},
            {{order.ShippingAddressDetails?.streetname}}</h6>
        </ion-text>
      </ion-row>
      <ion-row>
        <ion-text>
          <h6 class="title gray ion-no-margin">{{order.ShippingAddressDetails?.busname}},
            {{order.ShippingAddressDetails?.townname}}</h6>
        </ion-text>
      </ion-row>
      <ion-row>
        <ion-text>
          <h6 class="title gray ion-no-margin">{{order.ShippingAddressDetails?.lganame}},
            {{order.ShippingAddressDetails?.statename}}</h6>
        </ion-text>
      </ion-row>
      <ion-row>
        <ion-text>
          <h6 class="title gray ion-no-margin">{{order.ShippingAddressDetails?.postal_code}}</h6>
        </ion-text>
      </ion-row>
    </ion-col>
  </ion-item>



  <ion-item lines="none" class="card ion-margin-bottom ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-text>
          <h6 class="title ion-no-margin">Products</h6>
        </ion-text>
      </ion-row>
      <ion-row *ngFor="let item of products">
        <ion-col>
          <ion-row class="container-outer">
            <ion-col size="3" class="ion-text-center container-inner">
              <img class="spon-img" [src]="'data:image/png;base64,'+item.ProductDetails?.FirstImage" alt="">
            </ion-col>
            <ion-col size="9" auto>
              <h3 class="item-name ion-no-margin">{{item.ProductDetails.InfoDetails?.name}}</h3>
              <h5 class="item-def ion-no-margin">Quantity:<strong>
                  <ion-text color="mytheme">{{item.quantity}}</ion-text>
                </strong></h5>
              <h5 class="item-def ion-no-margin">Price:
                {{ item.ProductDetails.PriceDetails?.selling_price   | currency:'₦' }}</h5>
              <h5 class="item-def ion-no-margin text-truncate" style="max-width: 7.5em;">
                {{item.ProductDetails.SellerDetails?.SellerUserName}}</h5>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-col>
  </ion-item>
</ion-content>