<ion-header ion-padding color="mytheme" class="mybg head">
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row class="ion-justify-content-center">
    <ion-img src="assets/images/fyngram.png" class="head-image"></ion-img>
  </ion-row>
</ion-header>

<ion-content>
   <ion-text>
    <h3 class="title ion-no-margin ion-margin-bottom ion-margin-top ion-text-center">Request CashOut</h3>
  </ion-text>
  <form [formGroup]="requestForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
            <ion-text class="small">Enter the Amount</ion-text>
          </ion-label>
          <ion-input clearInput type="number" placeholder="Amount" formControlName="amount"
            class="input ion-padding-horizontal"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <ion-text class="small">Enter your Transaction PIN</ion-text>
          </ion-label>
          <ion-input clearInput type="password" placeholder="PIN" formControlName="pin"
            class="input ion-padding-horizontal"></ion-input>
        </ion-col>
      </ion-row> 
       <ion-row>
        <ion-col>
          <ion-button  expand="block" type="submit" (click)="onSubmit()" color="mytheme"><strong class="white">Submit</strong>
          </ion-button>
        </ion-col>
      </ion-row> 
    </ion-grid>
  </form> 

</ion-content>