<ion-tabs>
  <ion-tab-bar mode="ios" slot="top" class="ion-text-xl-center">
    <ion-tab-button>
      <ion-back-button class="ion-text-small" color="light" [defaultHref]="'/home/tabs/category/products/1'" >
      </ion-back-button>
    </ion-tab-button>
    <ion-tab-button tab="overview">
      <ion-label>Overview</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="related">
      <ion-label>Related</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="review">
      <ion-label>Reviews</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
