<ion-header ion-padding class="mybg head">
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title color="light">Register</ion-title>
  </ion-toolbar>
  <ion-row class="ion-justify-content-center">
    <ion-img src="assets/images/fyngram.png" class="ion-justify-content-center head-image"></ion-img>
  </ion-row>
</ion-header>

<ion-content ion-padding>
  <ion-text>
    <h3 class="title ion-no-margin ion-margin-bottom ion-margin-top ion-text-center">New Customer</h3>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-select interface="action-sheet" placeholder="Select Title"
          class="select input ion-padding-horizontal"
          [interfaceOptions]="titlecustomAlertOptions" [(ngModel)]='title'>
          <ion-select-option value="Mr.">Mr.</ion-select-option>
          <ion-select-option value="Mrs.">Mrs.</ion-select-option>
          <ion-select-option value="Miss">Miss</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="First Name" [(ngModel)]="first_name" class="input ion-padding-horizontal">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="text" placeholder="Last Name" [(ngModel)]="last_name" class="input ion-padding-horizontal">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-select interface="popover" placeholder="Select Gender"
          class="select input ion-padding-horizontal ion-padding-vertical"
          [interfaceOptions]="gendercustomAlertOptions" [(ngModel)]='gender'>
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Female">Female</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="email" placeholder="Email" [(ngModel)]="email" class="input ion-padding-horizontal">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="tel" placeholder="Phone" [(ngModel)]="phone"
          class="input ion-padding-horizontal "></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password" class="input ion-padding-horizontal">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="password2" class="input ion-padding-horizontal">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="border-bottom: none !important;">
          <ion-checkbox color="mytheme" [(ngModel)]="terms" slot="start"></ion-checkbox>
          <ion-label color="mytheme">I agree to the Terms & Conditions</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-button expand="block" color="primary" (click)="signup()" color="mytheme"><strong class="white">Create an
            Account</strong></ion-button>
      </ion-col>
    </ion-row>
    <div class="line ion-margin"></div>
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button expand="block" fill="outline" color="mytheme" (click)="fun.navigate('login')"><strong>Have an
            account? Sign in</strong></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text class="ion-text-center" color="medium">
          <h6 class="small ion-no-margin"><a (click)="open_modal(true)">Terms of Use</a> and <a
              (click)="open_modal(false)">Privacy Policy</a></h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>