<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="mytheme">
          <ion-row class="ion-padding-horizontal ion-align-items-center">
            <ion-col size="4" class="ion-padding-vertical ion-align-items-center">
              <img src="/assets/icon/logo.png">
            </ion-col>
            <ion-col class="ion-padding-vertical ion-align-items-center">
              <div class="ion-margin-vertical" *ngIf="userType === 'Guest'">
                <h4 class="medium white ion-no-margin ion-margin-start"><strong>Guest</strong></h4>
                <ion-menu-toggle autoHide="false">
                  <a routerLink="/support" class="small white ion-no-margin ion-margin-start" routerLinkActive="active"
                    routerDirection="root" detail="false">Create An Account</a>
                </ion-menu-toggle>
                <h6 class="small white ion-no-margin ion-margin-start">1.0.0</h6>
              </div>
              <div class="ion-margin-vertical" *ngIf="userType === 'Admin'">
                <h4 class="medium white ion-no-margin ion-margin-start"><strong>{{userName}}</strong></h4>
                <h6 class="small white ion-no-margin ion-margin-start">Admin</h6>
                <h6 class="small white ion-no-margin ion-margin-start">1.0.0</h6>
              </div>
              <div class="ion-margin-vertical" *ngIf="userType === 'Seller'">
                <h4 class="medium white ion-no-margin ion-margin-start"><strong>{{userName}}</strong></h4>
                <h6 class="small white ion-no-margin ion-margin-start">Seller</h6>
                <h6 class="small white ion-no-margin ion-margin-start">1.0.0</h6>
              </div>
              <div class="ion-margin-vertical" *ngIf="userType === 'Customer'">
                <h4 class="medium white ion-no-margin ion-margin-start"><strong>{{userName}}</strong></h4>
                <h6 class="small white ion-no-margin ion-margin-start">Customer</h6>
                <h6 class="small white ion-no-margin ion-margin-start">1.0.0</h6>
              </div>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list *ngIf="loggedIn" lines="none">
          <ion-list-header>
            Shop & Account
          </ion-list-header>
          <div *ngIf="userType === 'Admin'">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of adminPages; let i = index">
              <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
                detail="false" [class.selected]="selectedIndex == i">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
          <div *ngIf="userType === 'Customer'">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of customerPages; let i = index">
              <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
                detail="false" [class.selected]="selectedIndex == i">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
          <div *ngIf="userType === 'Seller'">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of sellerPages; let i = index">
              <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
                detail="false" [class.selected]="selectedIndex == i">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
          <ion-menu-toggle autoHide="false" *ngIf="userType !== 'Guest'">
            <ion-item button (click)="logout()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                LogOut
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


        <ion-list *ngIf="!loggedIn" lines="none">
          <ion-list-header>
            Account
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list lines="none">
          <ion-list-header>
            Theme
          </ion-list-header>
          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-label>
              Dark Mode
            </ion-label>
            <ion-toggle (ionChange)="updateDarkMode($event)" slot="end"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>


    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>