<ion-header class="mybg">
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Products</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onOpen('cart')" class="ion-no-margin ion-no-padding">
        <ion-icon name="cart" slot="icon-only" class="white top-btn "></ion-icon>
      </ion-button>
      <ion-button (click)="onOpen('search')" class="ion-no-margin">
        <ion-icon name="search" slot="icon-only" class="white top-btn"></ion-icon>
      </ion-button>
      <!-- <ion-button (click)="side_open()" class="ion-no-margin">
        <ion-icon name="funnel-outline" slot="icon-only" class="white top-btn"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
   <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let data of products" (click)="open(data)">
        <div class="img-wrapper" [style.background-image]="'url(data:image/png;base64,' + data.FirstImage">
        </div>
        <p class="ion-no-margin text-truncate"><strong>{{data.InfoDetails?.name}}</strong></p>
        <p class="ion-no-margin">
          {{ data.PriceDetails?.selling_price | currency:'₦' }}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>