<ion-header >
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-menu-button  color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Become A Seller</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="cart" slot="icon-only" (click)="fun.navigate('cart')" class="white ion-margin"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col class="ion-no-padding">
    <ion-row  class="head full ion-no-padding">
      <ion-col class="ion-padding">
        <ion-row>
          <ion-text>
            <h6 class="sub2 ion-no-margin ion-text-left">Earn pointseach time you complete various activities through the
              app.</h6>
          </ion-text>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-text>
            <h6  class="sub2 ion-no-margin ion-text-left">Redeem your points for coupons and get discounts on your next
              purchase.</h6>
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row  class="head full mar-top ion-no-padding">
      <ion-col class="ion-padding">
        <ion-row>
          <ion-text>
            <h3 class="sub2 ion-no-margin ion-text-left"><strong>How do I earn points?</strong></h3>
          </ion-text>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col>
            <ion-row>
              <ion-text>
                <h3 class="sub2 mar-top ion-no-margin ion-text-left">POINTS</h3>
              </ion-text>
            </ion-row>
            <ion-row>
              <ion-text>
                <h3  class="sub2 mar-top no-margin text-left"><strong>100</strong></h3>
              </ion-text>
            </ion-row>
            <ion-row>
              <ion-text>
                <h3  class="sub2 mar-top no-margin text-left"><strong>10</strong></h3>
              </ion-text>
            </ion-row>
            <ion-row>
              <ion-text>
                <h3  class="sub2 mar-top no-margin text-left"><strong>10</strong></h3>
              </ion-text>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-text>
                <h3  class="sub2 mar-top no-margin text-left">ACTION</h3>
              </ion-text>
            </ion-row>
            <ion-row>
              <ion-text>
                <h3  class="sub2 mar-top no-margin text-left">Make a purchase</h3>
              </ion-text>
            </ion-row>
            <ion-row>
              <ion-text>
                <h3  class="sub2 mar-top no-margin text-left">Review a purchase</h3>
              </ion-text>
            </ion-row>
            <ion-row>
              <ion-text>
                <h3  class="sub2 mar-top no-margin text-left">Upload a photo with your review</h3>
              </ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
       
      </ion-col>
    </ion-row>
  </ion-col>
</ion-content>
