<ion-header >
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-menu-button  color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Become A Seller</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="cart" slot="icon-only" (click)="onOpen('cart')" class="white ion-margin"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col class="ion-no-padding">
    <ion-row  class="head full ion-no-padding">
      <ion-col class="ion-padding">
        <ion-row>
          <ion-text>
            <h6 class="sub2 ion-no-margin ion-text-left">Being a seller gives you the ability to list your products for all our customers to see .</h6>
          </ion-text>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-text>
            <h6  class="sub2 ion-no-margin ion-text-left">Being a seller on fyngram, opens you up to different kind and types of buyers from far and near.</h6>
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row  class="head full mar-top ion-no-padding">
      <ion-col class="ion-padding">
        <ion-row>
          <ion-text>
            <h3 class="sub2 ion-no-margin ion-text-left"><strong>How do I Become a Seller?</strong></h3>
          </ion-text>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col>
            <ion-row>
              <ion-text>
                <h3 class="sub2 mar-top ion-no-margin ion-text-left">TODO</h3>
              </ion-text>
            </ion-row>
            <ion-row>
              <ion-text>
                <h3  class="sub2 mar-top ion-no-margin ion-text-left"><strong>Register</strong></h3>
              </ion-text>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-text>
                <h3  class="sub2 mar-top ion-no-margin ion-text-left">ACTION</h3>
              </ion-text>
            </ion-row>
            <ion-row>
              <ion-text>
                <h3  class="sub2 mar-top ion-no-margin ion-text-left">Visit our website of www.fyngram.com and click on become a seller and register your business.</h3>
              </ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col>
            <ion-row>
              <ion-text>
                <h3  class="sub2 mar-top ion-no-margin ion-text-left"><strong>List</strong></h3>
              </ion-text>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-text>
                <h3  class="sub2 mar-top ion-no-margin ion-text-left">List as many products as you have them in stock.</h3>
              </ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col>
            <ion-row>
              <ion-text>
                <h3  class="sub2 mar-top ion-no-margin ion-text-left"><strong>CashOut</strong></h3>
              </ion-text>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-text>
                <h3  class="sub2 mar-top ion-no-margin ion-text-left">You can request for cashout, i.e request for your profit</h3>
              </ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-content>
