<ion-row class="ion-align-items-center ion-justify-content-center">
  <ion-col size="6">
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-text>
        <h6 class="small gray ion-text-center" color="light"><strong>OVERALL</strong> <br>
          <span class="margin">{{product?.RatingDetails?.AverageRatings}}</span></h6>
        
      </ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-text>
        
        <ion-icon name="star" color="mytheme" *ngFor="let i of computeRatings(product?.RatingDetails?.AverageRatings)">
        </ion-icon>
        <ion-icon name="star-outline" color="mytheme"
          *ngFor="let i of computeRatings2(product?.RatingDetails?.AverageRatings)"></ion-icon>
        <div class="margin rate-small">{{product?.RatingDetails?.NumberOfRatings}} Reviews</div>
      </ion-text>
    </ion-row>
  </ion-col>
</ion-row>
<div class="sep"></div>
<ion-grid>
  <ion-row *ngFor="let review of product?.ReviewDetails">
    <ion-col>
      <ion-row class="full block">
        <ion-text class="ion-float-right">
          <ion-icon name="star" class="small-ico" color="mytheme" *ngFor="let i of computeRatings(review.rate_value)">
          </ion-icon>
          <ion-icon name="star-outline" class="small-ico" color="mytheme"
            *ngFor="let i of computeRatings(5-review.rate_value)"></ion-icon>
          <small> {{review.rate_value}}</small>
        </ion-text>
        <ion-text class="ion-float-left">
          <h6 class="ion-text-start ion-no-margin"><strong>{{review.reviewUsername}}</strong></h6>
        </ion-text>
      </ion-row>
      <div style="clear: both;"></div>
      <ion-row class="full block">
        <h6 class="cmnt ion-float-left ion-text-start ion-no-margin">{{review.comment}}</h6>
      </ion-row>
      <div style="clear: both;"></div>
      <ion-row class="full block">
        <small class="ion-float-left ion-text-start ion-no-margin">{{review.date}}</small>
        <small class="ion-float-right ion-text-end ion-no-margin">{{review.time}}</small>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>