<ion-header class="mybg">
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-row class="ion-align-items-center">
      <ion-input type="text" placeholder="I'm shopping for..." [(ngModel)]="searchTerm" class="search-bar"
        (ionChange)="onSearch()"></ion-input>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="light">
  <div class="mid" *ngIf="!show">
    <ion-row size="12" class="ion-justify-content-center" disabled="true">
      <button class="circle">
        <ion-icon name="search" size="large"></ion-icon>
      </button>
    </ion-row>
    <ion-row size="12" class="ion-justify-content-center" disabled="true">
      <ion-text><strong>Type in the box above</strong></ion-text>
    </ion-row>
    <ion-row size="12" class="ion-justify-content-center" disabled="true">
      <ion-button fill="clear" color="mytheme" (click)="browse()">Browse Products</ion-button>
    </ion-row>
  </div>
  <ion-grid *ngIf="show">
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let data of products" (click)="open(data)">
        <div class="img-wrapper" [style.background-image]="'url(data:image/png;base64,' + data.FirstImage">
        </div>
        <p class="ion-no-margin text-truncate"><strong>{{data.ProductName}}</strong></p>
        <p class="ion-no-margin">
          {{ data.ProductPrice | currency:'₦' }}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>