<ion-header>
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Categories</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="cart" slot="icon-only" (click)="onOpen('cart')" class="white ion-margin"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  
  <ion-row>
    <ion-col *ngFor="let data of categories;" size="6">
      <ion-card class="card ion-no-margin" (click)="open(data)">
        <img [src]="data.image[0]" [alt]="data.name">
        <ion-card-content>
          <ion-card-title>
            <ion-row>
              <ion-col class="ion-no-padding ">
                <ion-text class="ion-text-left"><span class="price">
                    <strong>{{data.name}}</strong>
                  </span>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>