<ion-header>
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Categories</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="cart" slot="icon-only" (click)="onOpen('cart')" class="white ion-margin"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  color="light">
  <ion-grid>
    <ion-row >
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6"  *ngFor="let data of categories"  (click)="open(data)">
        <div class="img-wrapper" [style.background-image]="'url(data:image/png;base64,' + data.ImageText">
        </div>
        <ion-text class="ion-text-left"><span class="price">
          <strong>{{data.name}}</strong>
        </span>
      </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>