<ion-header class="mybg">
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDelete(customer)" >
        <ion-icon name="trash" slot="icon-only"  class="white top-btn ion-no-margin"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <ion-item lines="none" class="card ion-margin-bottom ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Name</h6>
          </ion-text>
        </ion-col>
        <ion-col size="8">
          <ion-text>
            <h6 class="title ion-no-margin"><strong>{{customer?.title}}. {{customer?.UserName}}</strong></h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Email</h6>
          </ion-text>
        </ion-col>
        <ion-col size="8">
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.email}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Phone</h6>
          </ion-text>
        </ion-col>
        <ion-col size="8">
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.phone}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-item>

  <ion-item lines="none" class="card ion-margin-bottom ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Gender</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.gender}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text>
            <h6 class="title gray ion-no-margin">Date Added</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.date}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-item>
  <ion-item lines="none" class="card ion-margin-bottom ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-col size="5">
          <ion-text>
            <h6 class="title gray ion-no-margin">Main Balance</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.WalletDetails?.MainBalance | currency:'₦'}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-text>
            <h6 class="title gray ion-no-margin">Pending Balance</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.WalletDetails?.PendingBalance | currency:'₦'}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-text>
            <h6 class="title gray ion-no-margin">Number</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.WalletDetails?.wallet_number}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-item>

  <ion-item lines="none" class="card ion-margin-bottom ion-no-padding" *ngIf="customer?.BankDetails?.bankName">
    <ion-col>
      <ion-row>
        <ion-col size="5">
          <ion-text>
            <h6 class="title gray ion-no-margin">Bank Name</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.BankDetails?.bankName}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-text>
            <h6 class="title gray ion-no-margin">Account Number</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.BankDetails?.account_number}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-text>
            <h6 class="title gray ion-no-margin">Account Type</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.BankDetails?.account_type}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-item>

  <ion-item lines="none" class="card ion-margin-bottom ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-col size="5">
          <ion-text>
            <h6 class="title gray ion-no-margin">Total Order</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.ordercount}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-text>
            <h6 class="title gray ion-no-margin">Total Reviews</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.reviewcount}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-text>
            <h6 class="title gray ion-no-margin">Total Address</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.addresscount}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-item>

  <ion-item lines="none" class="card ion-margin-bottom ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-col size="5">
          <ion-text>
            <h6 class="title gray ion-no-margin">Total Payments</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.paymentcount}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-text>
            <h6 class="title gray ion-no-margin">Total Messages</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.msgcount}}</h6>
            <!-- <h6 class="title ion-no-margin">{{shipping?.total_earnings | currency:'₦'}}</h6> -->
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-text>
            <h6 class="title gray ion-no-margin">Total Transactions</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.transactioncount}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-item>

  <ion-item lines="none" class="card ion-margin-bottom ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-col size="5">
          <ion-text>
            <h6 class="title gray ion-no-margin">Total CashOuts</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.cashoutcount}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-text>
            <h6 class="title gray ion-no-margin">Total Discounts</h6>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            <h6 class="title ion-no-margin">{{customer?.discountcodecount}}</h6>
          </ion-text>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-item>

</ion-content>